PortIn/sdp_singtel_service_manage_porting_v1.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema elementFormDefault="qualified" version="1.0"
	targetNamespace="http://group.singtel.com/manageporting-types/v1"
	xmlns:tns="http://group.singtel.com/manageporting-types/v1"
	xmlns:sgc="http://group.singtel.com/enterpriseapplicationintegration/common-types/v1"
	xmlns:ns1="http://group.singtel.com/core/types/v1" xmlns:ns2="http://group.singtel.com/customerproduct-common/types/v1"
	xmlns:xs="http://www.w3.org/2001/XMLSchema">

	<!--Any extension to the PIM model goes into this xsd -->
	<xs:import namespace="http://group.singtel.com/core/types/v1"
		schemaLocation="../common-schemas/sdp_singtel_core_v1.xsd" />
	<xs:import namespace="http://group.singtel.com/customerproduct-common/types/v1"
		schemaLocation="../common-schemas/sdp_singtel_customerproduct_common_v1.xsd" />
	<xs:import
		namespace="http://group.singtel.com/enterpriseapplicationintegration/common-types/v1"
		schemaLocation="../common-schemas/sdp_singtel_service_common.xsd" />

	<xs:element name="submitPortRequest" type="tns:SubmitPortRequest" />
	<xs:element name="submitPortResponse" type="tns:SubmitPortResponse" />
	<xs:element name="portInNotification" type="tns:PortInNotification" />
	<xs:element name="portInNotificationResponse" type="tns:PortInNotificationResponse" />
	<xs:element name="notifyServiceDisconnectionComplete" type="tns:NotifyServiceDisconnectionComplete" />
	<xs:element name="notifyServiceDisconnectionCompleteResponse"
		type="tns:NotifyServiceDisconnectionCompleteResponse" />
	<xs:element name="cancelPortInRequest" type="tns:CancelPortInRequest" />
	<xs:element name="cancelPortInResponse" type="tns:CancelPortInResponse" />
	<xs:element name="orderTicketQuery" type="tns:OrderTicketQuery" />
	<xs:element name="orderTicketQueryResponse" type="tns:OrderTicketQueryResponse" />
	<xs:element name="orderTicketQueryResult" type="tns:OrderTicketQueryResult" />
	<xs:element name="orderTicketQueryResultResponse" type="tns:OrderTicketQueryResultResponse" />
	<xs:element name="notifyPortOutValidation" type="tns:NotifyPortOutValidation" />
	<xs:element name="notifyPortOutValidationResponse" type="tns:NotifyPortOutValidationResponse" />
	<xs:element name="validatePortOut" type="tns:ValidatePortOut" />
	<xs:element name="validatePortOutResponse" type="tns:ValidatePortOutResponse" />
	<xs:element name="confirmPortOutOrder" type="tns:ConfirmPortOutOrder" />
	<xs:element name="confirmPortOutOrderResponse" type="tns:ConfirmPortOutOrderResponse" />
	<xs:element name="disconnectService" type="tns:DisconnectService" />
	<xs:element name="disconnectServiceResponse" type="tns:DisconnectServiceResponse" />
	<xs:element name="cancelPortOut" type="tns:CancelPortOut" />
	<xs:element name="cancelPortOutResponse" type="tns:CancelPortOutResponse" />
	<xs:element name="portOutNotification" type="tns:PortOutNotification" />
	<xs:element name="portOutNotificationResponse" type="tns:PortOutNotificationResponse" />
	<xs:element name="queryCarrierInfo" type="tns:QueryCarrierInfo" />
	<xs:element name="queryCarrierInfoResponse" type="tns:QueryCarrierInfoResponse" />
	<xs:element name="connectService" type="tns:ConnectService" />
	<xs:element name="connectServiceResponse" type="tns:ConnectServiceResponse" />
	<!-- CR 10080 addition -->
	<xs:element name="submitPortRequestInternal" type="tns:SubmitPortOutRequest" />
	<xs:element name="submitPortRequestInternalResponse" type="tns:SubmitPortOutResponse" />
	<xs:element name="validatePortOutInternal" type="tns:ValidatePortOutInternal" />
	<xs:element name="validatePortOutInternalResponse" type="tns:ValidatePortOutInternalResponse" />
	<xs:element name="disconnectServiceInternal" type="tns:DisconnectServiceInternal" />
	<xs:element name="disconnectServiceInternalResponse" type="tns:DisconnectServiceInternalResponse" />
	
	
	
	<xs:complexType name="ConnectService" final="extension restriction">
		<xs:sequence>
			<xs:element name="requestId" type="tns:PortingRequestID" />
			<xs:element name="serviceDetailElements" type="tns:ServiceInfo"
				maxOccurs="unbounded" />
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="ConnectServiceResponse" final="extension restriction">
		<xs:complexContent>
			<xs:extension base="sgc:SDPResponse">
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>

	<xs:complexType name="SubmitPortRequest" final="extension restriction">
		<xs:sequence>
			<xs:element name="attemptCounter" type="xs:integer"
				minOccurs="0" maxOccurs="1" />
			<xs:element name="referenceID" type="tns:PortingRefernceID"
				minOccurs="1" maxOccurs="1" />
			<xs:element name="serviceID" type="ns2:ProductServiceID"
				minOccurs="1" maxOccurs="1" />
			<xs:element name="portingDetails" type="tns:PortingDetails"
				minOccurs="1" maxOccurs="1" />
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="SubmitPortResponse" final="extension restriction">
		<xs:complexContent>
			<xs:extension base="sgc:SDPResponse">
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>

	<xs:complexType name="PortingDetailsOP">
		<xs:complexContent>
			<xs:extension base="tns:PortingDetails">
				<xs:sequence>
					<xs:element name="donorAccountID" minOccurs="0"
						maxOccurs="1">
						<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:maxLength value="25" />
								<xs:whiteSpace value="collapse" />
							</xs:restriction>
						</xs:simpleType>
					</xs:element>
					<xs:element name="prevPortOutRefernceID" minOccurs="0"
						maxOccurs="1">
						<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:maxLength value="21" />
								<xs:whiteSpace value="collapse" />
							</xs:restriction>
						</xs:simpleType>
					</xs:element>
					<xs:element name="serviceType" type="ns1:SubscriptionType"
						minOccurs="1" maxOccurs="1" />
					<xs:element name="recipient" minOccurs="1" maxOccurs="1">
						<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:maxLength value="5" />
								<xs:whiteSpace value="collapse" />
							</xs:restriction>
						</xs:simpleType>
					</xs:element>
					<xs:element name="customerType" type="ns1:CustomerTypeLevel1All"
						minOccurs="1" maxOccurs="1" />
					<xs:element name="paymentCategory" minOccurs="1"
						maxOccurs="1">
						<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:maxLength value="10" />
								<xs:whiteSpace value="collapse" />
							</xs:restriction>
						</xs:simpleType>
					</xs:element>
					<xs:element name="birthDate" type="xs:dateTime" minOccurs="0"
						maxOccurs="1" />
					<xs:element name="agreementSignatureDate" type="xs:dateTime"
						minOccurs="1" maxOccurs="1" />
					<xs:element name="portingTransferDateTime" type="xs:dateTime"
						minOccurs="0" maxOccurs="1" />
					<xs:element name="portType" minOccurs="1" maxOccurs="1">
						<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:annotation>
									<xs:documentation>Reverse Port Out Initiate request
									</xs:documentation>
								</xs:annotation>
							</xs:restriction>
						</xs:simpleType>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>

	<xs:complexType name="PortingDetailsSN">
		<xs:complexContent>
			<xs:extension base="tns:PortingDetails">
				<xs:sequence>
					<xs:element name="request" type="tns:PortingRequestID"
						minOccurs="1" maxOccurs="1" />
					<xs:element name="donor" type="tns:PortingDonor"
						minOccurs="1" maxOccurs="1" />
					<xs:element name="recipient">
						<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:maxLength value="3" />
								<xs:whiteSpace value="collapse" />
							</xs:restriction>
						</xs:simpleType>
					</xs:element>
					<xs:element name="prevPortingRefernceID" minOccurs="0"
						maxOccurs="1">
						<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:maxLength value="24" />
								<xs:whiteSpace value="collapse" />
							</xs:restriction>
						</xs:simpleType>
					</xs:element>
					<xs:element name="byLOA" minOccurs="0" maxOccurs="1">
						<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:pattern value="0|1" />
							</xs:restriction>
						</xs:simpleType>
					</xs:element>
					<xs:element name="UndertakingAck" minOccurs="0"
						maxOccurs="1">
						<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:pattern value="0|1" />
							</xs:restriction>
						</xs:simpleType>
					</xs:element>
					<xs:element name="portingTransferDateTime" type="xs:dateTime"
						minOccurs="1" maxOccurs="1" />
					<xs:element name="portingApprovalDateTime" type="xs:dateTime"
						minOccurs="0" maxOccurs="1" />
					<xs:element name="paymentCategory" minOccurs="1"
						maxOccurs="1">
						<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:maxLength value="10" />
								<xs:whiteSpace value="collapse" />
							</xs:restriction>
						</xs:simpleType>
					</xs:element>
					<xs:element name="routeNumber" minOccurs="1" maxOccurs="1">
						<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:maxLength value="10" />
								<xs:whiteSpace value="collapse" />
							</xs:restriction>
						</xs:simpleType>
					</xs:element>
					<xs:choice>
						<xs:element name="individual" type="tns:IndividualPorting"
							minOccurs="0" maxOccurs="1" />
						<xs:element name="organization" type="tns:OrganizationPorting"
							minOccurs="0" maxOccurs="1" />
					</xs:choice>
					<xs:element name="agreementSignatureDate" type="xs:dateTime"
						minOccurs="1" maxOccurs="1" />
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>

	<xs:complexType name="PortingDetails" abstract="true">
		<xs:annotation>
			<xs:documentation>
				when the consumer (OMS) is calling the
				submitPortRequest operation in SingTel deployed
				environment have to
				pass the
				PortingDetailsSN data
				type in portingDetails field
				when the
				consumer (OMS) is
				calling the submitPortRequest operation in Optus
				deployed
				environment have to pass the PortingDetailsOP
				data type
				in
				portingDetails field
			</xs:documentation>
		</xs:annotation>
		<xs:sequence />
	</xs:complexType>

	<xs:complexType name="PortInNotification">
		<xs:sequence>
			<xs:element name="referenceID" type="tns:PortingRefernceID"
				minOccurs="1" maxOccurs="1" />
			<xs:element name="requestID" type="tns:PortingRequestID"
				minOccurs="0" />
			<xs:element name="serviceID" type="ns2:ProductServiceID"
				minOccurs="0" maxOccurs="1" />
			<xs:element name="portingResult" type="tns:PortingResult"
				minOccurs="1" maxOccurs="1" />
			<xs:element name="donor" type="tns:PortingDonor"
				minOccurs="0" maxOccurs="1" />
			<xs:element name="orderedApprovalTime" type="xs:dateTime"
				minOccurs="0" maxOccurs="1" />
			 <xs:element name="recommendTransferTime" type="xs:dateTime" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="PortingResult">
		<xs:sequence>
			<xs:element name="responseCode" type="tns:PortNotificationResultCode"
				minOccurs="1" maxOccurs="1" />
			<xs:element name="rejectionCode" type="xs:string"
				minOccurs="0" maxOccurs="1" />
			<xs:element name="reasonText" type="xs:string" minOccurs="0"
				maxOccurs="1" />
		</xs:sequence>
	</xs:complexType>

	<xs:simpleType name="PortNotificationResultCode">
		<xs:restriction base="xs:string">
			<xs:enumeration value="PNVAL">
				<xs:annotation>
					<xs:documentation>validation success from CNPMS; Echo NPO
					</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="PNINV">
				<xs:annotation>
					<xs:documentation>validation failure, NPO NOTE</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="PNCON">
				<xs:annotation>
					<xs:documentation>confirmation success from CNPMS, NPOC
					</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="PNREJ">
				<xs:annotation>
					<xs:documentation>confirmation failure from CNPMS, NPOR
					</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="PNSCN">
				<xs:annotation>
					<xs:documentation>connection success from NPO SC</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="PNFAI">
				<xs:annotation>
					<xs:documentation>connection failure from NPO SD NOTE
					</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="PNCAN">
				<xs:annotation>
					<xs:documentation>port in cancelation request</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="PNCNT">
				<xs:annotation>
					<xs:documentation>Cancellation notice(CAN NOTE)</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="PWNCON">
				<xs:annotation>
					<xs:documentation></xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="PWNREJ">
				<xs:annotation>
					<xs:documentation></xs:documentation>
				</xs:annotation>
			</xs:enumeration>
		</xs:restriction>
	</xs:simpleType>

	<xs:complexType name="PortingDonor">
		<xs:sequence>
			<xs:element name="id" minOccurs="1" maxOccurs="1">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="5" />
						<xs:whiteSpace value="collapse" />
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="PortInNotificationResponse" final="extension restriction">
		<xs:complexContent>
			<xs:extension base="sgc:SDPResponse">
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>


	<xs:complexType name="NotifyServiceDisconnectionComplete">
		<xs:sequence>
			<xs:element name="requestID" type="tns:PortingRequestID"
				minOccurs="1" maxOccurs="1" />
			<xs:element name="serviceID" type="ns2:ProductServiceID"
				minOccurs="1" maxOccurs="1" />
			<xs:element name="status" minOccurs="1" maxOccurs="1">
				<xs:simpleType>
					<xs:restriction base="xs:integer">
						<xs:minInclusive value="0" />
						<xs:maxInclusive value="99" />
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="NotifyServiceDisconnectionCompleteResponse"
		final="extension restriction">
		<xs:complexContent>
			<xs:extension base="sgc:SDPResponse">
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>

	<xs:complexType name="OrganizationPorting">
		<xs:sequence>
			<xs:element name="name" minOccurs="1" maxOccurs="1">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="100" />
						<xs:whiteSpace value="collapse" />
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="id" minOccurs="0" maxOccurs="1">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="20" />
						<xs:whiteSpace value="collapse" />
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="AccountNumber" minOccurs="0" maxOccurs="1">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="30" />
						<xs:whiteSpace value="collapse" />
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="IndividualPorting">
		<xs:sequence>
			<xs:element name="name" minOccurs="1" maxOccurs="1">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="100" />
						<xs:whiteSpace value="collapse" />
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="id" minOccurs="1" maxOccurs="1">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="255" />
						<xs:whiteSpace value="collapse" />
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="idType" type="xs:integer" minOccurs="1"
				maxOccurs="1" />
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="CancelPortInRequest" abstract="true">
		<xs:annotation>
			<xs:documentation>
			</xs:documentation>
		</xs:annotation>
		<xs:sequence />
	</xs:complexType>

	<xs:complexType name="CancelPortInRequestOP">
		<xs:complexContent>
			<xs:extension base="tns:CancelPortInRequest">
				<xs:sequence>
					<xs:element name="referenceID" type="tns:PortingRefernceID"
						minOccurs="1" maxOccurs="1" />
					<xs:element name="serviceID" type="ns2:ProductServiceID"
						minOccurs="1" maxOccurs="1" />
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>

	<xs:complexType name="CancelPortInRequestSN">
		<xs:complexContent>
			<xs:extension base="tns:CancelPortInRequest">
				<xs:sequence>
					<xs:element name="requestID" type="tns:PortingRequestID"
						minOccurs="1" maxOccurs="1" />
					<xs:element name="referenceID" type="tns:PortingRefernceID"
						minOccurs="1" maxOccurs="1" />
					<xs:element name="cancelReasonCode" minOccurs="1"
						maxOccurs="1">
						<xs:simpleType>
							<xs:restriction base="xs:integer">
								<xs:minInclusive value="1" />
								<xs:maxInclusive value="3" />
							</xs:restriction>
						</xs:simpleType>
					</xs:element>
					<xs:element name="cancelReasonText" type="xs:string"
						minOccurs="0" maxOccurs="1" />
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>

	<xs:complexType name="CancelPortInResponse" final="extension restriction">
		<xs:complexContent>
			<xs:extension base="sgc:SDPResponse">
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>

	<xs:complexType name="OrderTicketQuery">
		<xs:sequence>
			<xs:element name="requestID" type="tns:PortingRequestID"
				minOccurs="1" maxOccurs="1" />
			<xs:element name="dateRangeStart" type="xs:dateTime"
				minOccurs="1" maxOccurs="1" />
			<xs:element name="dateRangeEnd" type="xs:dateTime" minOccurs="1"
				maxOccurs="1" />
			<xs:element name="donor" type="tns:PortingDonor"
				minOccurs="1" maxOccurs="1" />
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="OrderTicketQueryResponse" final="extension restriction">
		<xs:complexContent>
			<xs:extension base="sgc:SDPResponse">
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>

	<xs:complexType name="OrderTicketQueryResult">
		<xs:sequence>
			<xs:element name="requestID" type="tns:PortingRequestID"
				minOccurs="1" maxOccurs="1" />
			<xs:element name="resultCode" type="tns:TQResultCode"
				minOccurs="1" maxOccurs="1" />
			<xs:element name="quotaResult" type="tns:QuotaResult"
				minOccurs="0" maxOccurs="unbounded" />
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="TQResultCode">
		<xs:sequence>
			<xs:element name="code" minOccurs="1" maxOccurs="1">
				<xs:simpleType>
					<xs:restriction base="xs:integer">
						<xs:minInclusive value="0" />
						<xs:maxInclusive value="99" />
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="QuotaResult">
		<xs:sequence>
			<xs:element name="quotaDate" type="xs:dateTime" minOccurs="1"
				maxOccurs="1" />
			<xs:element name="donor" type="tns:PortingDonor"
				minOccurs="1" maxOccurs="1" />
			<xs:element name="quotaAmount1" type="xs:integer"
				minOccurs="1" maxOccurs="1" />
			<xs:element name="quotaAmount2" type="xs:integer"
				minOccurs="1" maxOccurs="1" />
			<xs:element name="quotaAmount3" type="xs:integer"
				minOccurs="1" maxOccurs="1" />
			<xs:element name="activationQuota" type="xs:integer"
				minOccurs="1" maxOccurs="1" />
			<xs:element name="maxSNPerPortInReq" type="xs:integer"
				minOccurs="1" maxOccurs="1" />
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="OrderTicketQueryResultResponse"
		final="extension restriction">
		<xs:complexContent>
			<xs:extension base="sgc:SDPResponse">
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>


	<xs:complexType name="NotifyPortOutValidation">
		<xs:sequence>
			<xs:element name="requestID" type="tns:PortingRequestID"
				minOccurs="1" maxOccurs="1" />
			<xs:element name="referenceID" type="tns:PortingRefernceID"
				minOccurs="1" maxOccurs="1" />
			<xs:element name="result" type="tns:NotifyPortOutValidationResult"
				minOccurs="0" maxOccurs="1" />
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="NotifyPortOutValidationResponse"
		final="extension restriction">
		<xs:complexContent>
			<xs:extension base="sgc:SDPResponse">
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="ValidatePortOut" final="extension restriction">
		<xs:sequence>
			<xs:element name="referenceId" type="tns:PortingRefernceID"
				minOccurs="1" maxOccurs="1" />
			<xs:element name="portOutDetails" type="tns:PortOutDetailsSN"
				minOccurs="1" maxOccurs="1" />
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="ValidatePortOutResponse" final="extension restriction">
		<xs:complexContent>
			<xs:extension base="sgc:SDPResponse">
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="PortOutDetailsSN">
		<xs:sequence>
			<xs:element name="requestId" type="tns:PortingRequestID"
				minOccurs="1" maxOccurs="1" />
			<xs:element name="serviceID" type="ns2:ProductServiceID"
				minOccurs="1" maxOccurs="unbounded" />
			<xs:element name="donor" type="tns:PortingDonor"
				minOccurs="1" maxOccurs="1" />
			<xs:element name="recipient" type="xs:string" minOccurs="1"
				maxOccurs="1" />
			<xs:element name="prevPortingRefernceID" minOccurs="0"
				maxOccurs="1">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="24" />
						<xs:whiteSpace value="collapse" />
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="portingTransferDateTime" type="xs:dateTime"
				minOccurs="0" maxOccurs="1" />
			<xs:element name="portingApprovalDateTime" type="xs:dateTime"
				minOccurs="0" maxOccurs="1" />
			<xs:element name="paymentCategory" minOccurs="0"
				maxOccurs="1">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="10" />
						<xs:whiteSpace value="collapse" />
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="individual" type="tns:IndividualPorting"
				minOccurs="0" maxOccurs="1" />
			<xs:element name="organization" type="tns:OrganizationPorting"
				minOccurs="0" maxOccurs="1" />
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ConfirmPortOutOrder">
		<xs:sequence>
			<xs:element name="requestID" type="tns:PortingRequestID"
				minOccurs="1" maxOccurs="1" />
			<xs:element name="referenceID" type="tns:PortingRefernceID"
				minOccurs="1" maxOccurs="1" />
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ConfirmPortOutOrderResponse"
		final="extension restriction">
		<xs:complexContent>
			<xs:extension base="sgc:SDPResponse">
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="DisconnectService">
		<xs:sequence>
			<xs:element name="requestID" type="tns:PortingRequestID"
				minOccurs="1" maxOccurs="1" />
			<xs:element name="serviceDetailElements" type="tns:ServiceInfo"
				minOccurs="1" maxOccurs="unbounded" />
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="DisconnectServiceResponse" final="extension restriction">
		<xs:complexContent>
			<xs:extension base="sgc:SDPResponse">
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="ServiceInfo">
		<xs:sequence>
			<xs:element name="referenceID" type="tns:PortingRefernceID"
				minOccurs="1" maxOccurs="1" />
			<xs:element name="serviceID" type="ns2:ProductServiceID"
				minOccurs="1" maxOccurs="1" />
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="CancelPortOut">
		<xs:sequence>
			<xs:element name="requestID" type="tns:PortingRequestID"
				minOccurs="1" maxOccurs="1" />
			<xs:element name="referenceID" type="tns:PortingRefernceID"
				minOccurs="1" maxOccurs="1" />
			<xs:element name="cancellationReason" type="tns:CancellationReason"
				minOccurs="1" maxOccurs="1" />
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="CancellationReason">
		<xs:sequence>
			<xs:element name="reasonCode" minOccurs="1" maxOccurs="1">
				<xs:simpleType>
					<xs:restriction base="xs:integer">
						<xs:minInclusive value="1" />
						<xs:maxInclusive value="99" />
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="reasonText" minOccurs="0" maxOccurs="1">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="50" />
						<xs:whiteSpace value="collapse" />
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="CancelPortOutResponse" final="extension restriction">
		<xs:complexContent>
			<xs:extension base="sgc:SDPResponse">
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="PortOutNotification">
		<xs:sequence>
			<xs:element name="requestID" type="tns:PortingRequestID"
				minOccurs="1" maxOccurs="1" />
			<xs:element name="referenceRequestId" type="tns:PortingRequestID"
				minOccurs="0" maxOccurs="1" />
			<xs:element name="referenceId" type="tns:PortingRefernceID"
				minOccurs="0" maxOccurs="1" />
			<xs:element name="portOutError" type="tns:PortOutError"
				minOccurs="1" maxOccurs="1" />
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="PortOutError">
		<xs:sequence>
			<xs:element name="messageType" type="tns:PortOutNotifyType"
				minOccurs="1" maxOccurs="1" />
			<xs:element name="errorCode" minOccurs="1" maxOccurs="1">
				<xs:simpleType>
					<xs:restriction base="xs:integer">
						<xs:minInclusive value="0" />
						<xs:maxInclusive value="99" />
						<xs:whiteSpace value="collapse" />
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="errorText" minOccurs="0" maxOccurs="1">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="50" />
						<xs:whiteSpace value="collapse" />
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>

	<xs:simpleType name="PortOutNotifyType">
		<xs:restriction base="xs:string">
			<xs:maxLength value="20" />
			<xs:whiteSpace value="collapse" />
			<xs:enumeration value="NPOR" />
			<xs:enumeration value="NPOC" />
			<xs:enumeration value="WINTO" />
			<xs:enumeration value="SD" />
			<xs:enumeration value="SDRSP" />
			<xs:enumeration value="NPOR" />
		</xs:restriction>
	</xs:simpleType>

	<xs:complexType name="PortOutNotificationResponse"
		final="extension restriction">
		<xs:complexContent>
			<xs:extension base="sgc:SDPResponse">
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>

	<xs:complexType name="PortingRequestID">
		<xs:sequence>
			<xs:element name="id" minOccurs="1" maxOccurs="1">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="12" />
						<xs:whiteSpace value="collapse" />
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="PortingRefernceID">
		<xs:sequence>
			<xs:element name="id" minOccurs="1" maxOccurs="1">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="24" />
						<xs:whiteSpace value="collapse" />
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="QueryCarrierInfo" final="extension restriction">
		<xs:sequence>
			<xs:element name="serviceID" type="ns2:ProductServiceID"
				minOccurs="1" maxOccurs="1" />
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="QueryCarrierInfoResponse" final="extension restriction">
		<xs:complexContent>
			<xs:extension base="sgc:SDPResponse">
				<xs:sequence>
					<xs:element name="donorCarrier" minOccurs="1" maxOccurs="1">
						<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:maxLength value="80" />
								<xs:whiteSpace value="collapse" />
							</xs:restriction>
						</xs:simpleType>
					</xs:element>
					<xs:element name="currentCarrier" minOccurs="1"
						maxOccurs="1">
						<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:maxLength value="80" />
								<xs:whiteSpace value="collapse" />
							</xs:restriction>
						</xs:simpleType>
					</xs:element>
					<xs:element name="servicePortable" type="xs:integer"
						minOccurs="1" maxOccurs="1" />
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>

	<xs:complexType name="NotifyPortOutValidationResult">
		<xs:sequence>
			<xs:element name="serviceID" type="ns2:ProductServiceID"
				minOccurs="0" maxOccurs="1" />
			<xs:element name="resultCode" minOccurs="1" maxOccurs="1">
				<xs:simpleType>
					<xs:restriction base="xs:integer">
						<xs:minInclusive value="0" />
						<xs:maxInclusive value="99" />
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="resultText" minOccurs="0" maxOccurs="1">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="50" />
						<xs:whiteSpace value="collapse" />
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="SubmitPortOutRequest" final="extension restriction">
		<xs:annotation>
			<xs:documentation>CR 10080 addition</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="referenceID">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="24" />
						<xs:whiteSpace value="collapse" />
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="serviceID">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="255" />
						<xs:whiteSpace value="collapse" />
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="portingDetails" type="tns:PortingDetailsSN"/>
		</xs:sequence>
	</xs:complexType>
	
	<xs:complexType name="SubmitPortOutResponse" final="extension restriction">
		<xs:annotation>
			<xs:documentation>CR 10080 addition</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="sgc:SDPResponse">
				<xs:sequence>
					<xs:element name="referenceID" type="tns:PortingRefernceID"/>
					<xs:element name="serviceID" type="ns2:ProductServiceID"/>
					<xs:element name="requestID" type="tns:PortingRequestID"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	
	<xs:complexType name="ValidatePortOutInternal" final="extension restriction">
		<xs:annotation>
			<xs:documentation>CR 10080 addition</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="referenceID">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="24" />
						<xs:whiteSpace value="collapse" />
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="serviceID" maxOccurs="unbounded">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="20" />
						<xs:whiteSpace value="collapse" />
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="portingDetails" type="tns:PortingDetailsSN"/>
		</xs:sequence>
	</xs:complexType>
	
	<xs:complexType name="ValidatePortOutInternalResponse" final="extension restriction">
		<xs:annotation>
			<xs:documentation>CR 10080 addition</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="sgc:SDPResponse">
				<xs:sequence>
					<xs:element name="requestID" type="tns:PortingRequestID"/>
					<xs:element name="referenceID" type="tns:PortingRefernceID"/>
					<xs:element name="result" type="tns:NotifyPortOutValidationResult" maxOccurs="unbounded"/>
					<xs:element name="paymentCategory">
						<xs:simpleType>
							<xs:restriction base="xs:string">
							<xs:maxLength value="10" />
							<xs:whiteSpace value="collapse" />
						</xs:restriction>
						</xs:simpleType>
					</xs:element>
					<xs:element name="mvnoName" minOccurs="0">
						<xs:simpleType>
							<xs:restriction base="xs:string">
							<xs:maxLength value="24" />
							<xs:whiteSpace value="collapse" />
						</xs:restriction>
						</xs:simpleType>
					</xs:element>
					<xs:element name="donor" type="tns:PortingDonor"/>
					<xs:element name="recipient">
						<xs:simpleType>
							<xs:restriction base="xs:string">
							<xs:maxLength value="3" />
							<xs:whiteSpace value="collapse" />
						</xs:restriction>
						</xs:simpleType>
					</xs:element>
					<xs:element name="timestamp" type="xs:dateTime"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	
	<xs:complexType name="DisconnectServiceInternal" final="extension restriction">
		<xs:annotation>
			<xs:documentation>CR 10080 addition</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="requestID" type="tns:PortingRequestID"/>
			<xs:element name="serviceInfo" type="tns:ServiceInfo" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	
		<xs:complexType name="DisconnectServiceInternalResponse" final="extension restriction">
		<xs:annotation>
			<xs:documentation>CR 10080 addition</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="sgc:SDPResponse">
				<xs:sequence>
					<xs:element name="donor" type="tns:PortingDonor"/>
					<xs:element name="recipient">
						<xs:simpleType>
							<xs:restriction base="xs:string">
							<xs:maxLength value="3" />
							<xs:whiteSpace value="collapse" />
						</xs:restriction>
						</xs:simpleType>
					</xs:element>
					<xs:element name="requestID" type="tns:PortingRequestID"/>
					<xs:element name="timestamp" type="xs:dateTime"/>
					<xs:element name="disconnectResponse" type="tns:DisconnectResponse" maxOccurs="unbounded"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	
	<xs:complexType name="DisconnectResponse" final="extension restriction">
		<xs:annotation>
			<xs:documentation>CR 10080 addition</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="serviceID" type="ns2:ProductServiceID"/>
			<xs:element name="resultCode" type="xs:int"/>
		</xs:sequence>
	</xs:complexType>
</xs:schema>